<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>vehicleRentalSystem</display-name>
  <welcome-file-list>
    <welcome-file>customerHome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>user_login</display-name>
    <servlet-name>user_login</servlet-name>
    <servlet-class>vehicleRental.servlet.user_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_login</servlet-name>
    <url-pattern>/user_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_register</display-name>
    <servlet-name>user_register</servlet-name>
    <servlet-class>vehicleRental.servlet.user_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_register</servlet-name>
    <url-pattern>/user_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_login</display-name>
    <servlet-name>admin_login</servlet-name>
    <servlet-class>vehicleRental.servlet.admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_login</servlet-name>
    <url-pattern>/admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employee_login</display-name>
    <servlet-name>employee_login</servlet-name>
    <servlet-class>vehicleRental.servlet.employee_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee_login</servlet-name>
    <url-pattern>/employee_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addEmployee</display-name>
    <servlet-name>addEmployee</servlet-name>
    <servlet-class>vehicleRental.servlet.addEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEmployee</servlet-name>
    <url-pattern>/addEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeById</display-name>
    <servlet-name>GetEmployeeById</servlet-name>
    <servlet-class>vehicleRental.servlet.GetEmployeeById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeById</servlet-name>
    <url-pattern>/GetEmployeeById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployee</display-name>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>vehicleRental.servlet.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployee</display-name>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>vehicleRental.servlet.DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteUser</display-name>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>vehicleRental.servlet.deleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/deleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>change_password</display-name>
    <servlet-name>change_password</servlet-name>
    <servlet-class>vehicleRental.servlet.change_password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>change_password</servlet-name>
    <url-pattern>/change_password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAd</display-name>
    <servlet-name>AddAd</servlet-name>
    <servlet-class>vehicleRental.servlet.AddAd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAd</servlet-name>
    <url-pattern>/AddAd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAdServlet</display-name>
    <servlet-name>AddAdServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.AddAdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAdServlet</servlet-name>
    <url-pattern>/AddAdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAdServlet</display-name>
    <servlet-name>ListAdServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.ListAdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAdServlet</servlet-name>
    <url-pattern>/ListAdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdServlet</display-name>
    <servlet-name>UpdateAdServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.UpdateAdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdServlet</servlet-name>
    <url-pattern>/UpdateAdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdServlet</display-name>
    <servlet-name>DeleteAdServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.DeleteAdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdServlet</servlet-name>
    <url-pattern>/DeleteAdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAdByIdServlet</display-name>
    <servlet-name>GetAdByIdServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.GetAdByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAdByIdServlet</servlet-name>
    <url-pattern>/GetAdByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNotifiServlet</display-name>
    <servlet-name>AddNotifiServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.AddNotifiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNotifiServlet</servlet-name>
    <url-pattern>/AddNotifiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNotifiByIdServlet</display-name>
    <servlet-name>GetNotifiByIdServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.GetNotifiByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNotifiByIdServlet</servlet-name>
    <url-pattern>/GetNotifiByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListNotifiServlet</display-name>
    <servlet-name>ListNotifiServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.ListNotifiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListNotifiServlet</servlet-name>
    <url-pattern>/ListNotifiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNotifiServlet</display-name>
    <servlet-name>DeleteNotifiServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.DeleteNotifiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNotifiServlet</servlet-name>
    <url-pattern>/DeleteNotifiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNotifiServlet</display-name>
    <servlet-name>UpdateNotifiServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.UpdateNotifiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNotifiServlet</servlet-name>
    <url-pattern>/UpdateNotifiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddVehicleServlet</display-name>
    <servlet-name>AddVehicleServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.AddVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddVehicleServlet</servlet-name>
    <url-pattern>/AddVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteVehicleServlet</display-name>
    <servlet-name>DeleteVehicleServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.DeleteVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteVehicleServlet</servlet-name>
    <url-pattern>/DeleteVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetVehicleByIdServlet</display-name>
    <servlet-name>GetVehicleByIdServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.GetVehicleByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVehicleByIdServlet</servlet-name>
    <url-pattern>/GetVehicleByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListVehicleServlet</display-name>
    <servlet-name>ListVehicleServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.ListVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListVehicleServlet</servlet-name>
    <url-pattern>/ListVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateVehicleServlet</display-name>
    <servlet-name>UpdateVehicleServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.UpdateVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateVehicleServlet</servlet-name>
    <url-pattern>/UpdateVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPaymentServlet</display-name>
    <servlet-name>AddPaymentServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.AddPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPaymentServlet</servlet-name>
    <url-pattern>/AddPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPaymentByIdServlet</display-name>
    <servlet-name>GetPaymentByIdServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.GetPaymentByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPaymentByIdServlet</servlet-name>
    <url-pattern>/GetPaymentByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePaymentServlet</display-name>
    <servlet-name>DeletePaymentServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.DeletePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePaymentServlet</servlet-name>
    <url-pattern>/DeletePaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePaymentServlet</display-name>
    <servlet-name>UpdatePaymentServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.UpdatePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePaymentServlet</servlet-name>
    <url-pattern>/UpdatePaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMaintainServlet</display-name>
    <servlet-name>AddMaintainServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.AddMaintainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMaintainServlet</servlet-name>
    <url-pattern>/AddMaintainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ad_search</display-name>
    <servlet-name>ad_search</servlet-name>
    <servlet-class>vehicleRental.servlet.ad_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ad_search</servlet-name>
    <url-pattern>/ad_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accident_delete</display-name>
    <servlet-name>accident_delete</servlet-name>
    <servlet-class>vehicleRental.servlet.accident_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accident_delete</servlet-name>
    <url-pattern>/accident_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accident_details</display-name>
    <servlet-name>accident_details</servlet-name>
    <servlet-class>vehicleRental.servlet.accident_details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accident_details</servlet-name>
    <url-pattern>/accident_details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accident_form</display-name>
    <servlet-name>accident_form</servlet-name>
    <servlet-class>vehicleRental.servlet.accident_form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accident_form</servlet-name>
    <url-pattern>/accident_form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accident_search</display-name>
    <servlet-name>accident_search</servlet-name>
    <servlet-class>vehicleRental.servlet.accident_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accident_search</servlet-name>
    <url-pattern>/accident_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accident_update</display-name>
    <servlet-name>accident_update</servlet-name>
    <servlet-class>vehicleRental.servlet.accident_update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accident_update</servlet-name>
    <url-pattern>/accident_update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accident_update_one</display-name>
    <servlet-name>accident_update_one</servlet-name>
    <servlet-class>vehicleRental.servlet.accident_update_one</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accident_update_one</servlet-name>
    <url-pattern>/accident_update_one</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inquiries_delete</display-name>
    <servlet-name>inquiries_delete</servlet-name>
    <servlet-class>vehicleRental.servlet.inquiries_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inquiries_delete</servlet-name>
    <url-pattern>/inquiries_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>inquiry_search</display-name>
    <servlet-name>inquiry_search</servlet-name>
    <servlet-class>vehicleRental.servlet.inquiry_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inquiry_search</servlet-name>
    <url-pattern>/inquiry_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_inquiries</display-name>
    <servlet-name>user_inquiries</servlet-name>
    <servlet-class>vehicleRental.servlet.user_inquiries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_inquiries</servlet-name>
    <url-pattern>/user_inquiries</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>payment_search</display-name>
    <servlet-name>payment_search</servlet-name>
    <servlet-class>vehicleRental.servlet.payment_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payment_search</servlet-name>
    <url-pattern>/payment_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>client_search</display-name>
    <servlet-name>client_search</servlet-name>
    <servlet-class>vehicleRental.servlet.client_search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>client_search</servlet-name>
    <url-pattern>/client_search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePaymentReservation</display-name>
    <servlet-name>UpdatePaymentReservation</servlet-name>
    <servlet-class>vehicleRental.servlet.UpdatePaymentReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePaymentReservation</servlet-name>
    <url-pattern>/UpdatePaymentReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editVehicleServlet</display-name>
    <servlet-name>editVehicleServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.editVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editVehicleServlet</servlet-name>
    <url-pattern>/editVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteVehicleServlet</display-name>
    <servlet-name>deleteVehicleServlet</servlet-name>
    <servlet-class>vehicleRental.servlet.deleteVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteVehicleServlet</servlet-name>
    <url-pattern>/deleteVehicleServlet</url-pattern>
  </servlet-mapping>
</web-app>